.logo {
    display: flex;
    flex-direction: column;
}
.logoLine {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;

    &:first-child {
        font-size: 14px;
    }
    &:last-child {
        color: #00d8ff;
        font-weight: bold;
    }
}
