$bg: #1e1d1e;
$bgLine: #2f2f2f;

.contener {
    padding: 20px;
    background-color: $bg;
    position: relative;

    &::before {
        background-color: $bgLine;
        bottom: 0;
    }
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
