body {
    color: $siteColor;
    background-color: $siteBackground;
}

a {
    transition: color 0.3s;
}
a:hover {
    cursor: pointer;
    color: $siteColorHover;
}

.contener {
    width: 100%;
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.lineBorder {
    display: block;
    position: relative;

    &::before {
        content: '';
        height: 1px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
    }
}
