.loading {
    position: absolute;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loadingSpinner {
    width: 90px;
    min-width: 50px;
    height: 65px;
    text-align: center;
    font-size: 10px;
}
.loadingSpinnerRect {
    background-color: $siteColorHover;
    height: 100%;
    width: 7px;
    display: inline-block;
    margin: 0 3px 0 0;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;

    &2 {
        animation-delay: -1.1s;
    }
    &3 {
        animation-delay: -1s;
    }
    &4 {
        animation-delay: -0.9s;
    }
    &5 {
        animation-delay: -0.8s;
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
    }
}
